@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 20px;

}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  background-color: white;
  margin-bottom: 15px;
  border-radius: 10px 0px 0px 10px;
  margin-left: 50px;
}

.sidenav a:hover {
  color: #f1f1f1;
}
.main {
  margin-left: 300px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
div.scrollmenu {
  width: 100%;
  overflow-x: scroll;
  flex-wrap: nowrap;
}


